@using Microsoft.AspNetCore.Http;
@model TechnologySquare.Models.OrderViewModel

@{
    ViewBag.Title = "订单确认";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.contBuy = "/";
    int orderNo = 0;
    //HttpRequest Request = ViewBag.Request as HttpRequest;

}

@section Scripts
{
    <script>
        function validateCurStepInput() { //客户端验证输入是否遗漏
            switch (document.getElementById("curStep").value) {
                case "step1":
                    var mPhone = document.getElementById("txtMPhone").value.trim();
                    if (mPhone != "") document.getElementById("custMobile").innerText = mPhone;
                    document.getElementById("s1Valid").value = "true";
                    return true;
                case "step2":
                    var err = "";
                    var ordNo = document.getElementById("orderQty").value;

                    for (var i = 0; i < ordNo; i++) {
                        var first = true;
                        //var name = document.getElementById("name_" + i).value.trim();
                        //document.getElementById("Conname_" + i).innerText = name;
                        var address = document.getElementById("adress_" + i).value.trim();
                            document.getElementById("custAddr_" + i).innerText = address;
                    }
                    if (err == "") {
                        document.getElementById("s2Valid").value = "true";
                        return true;
                    }
                    else {
                        alert("请补充输入以下信息：\n" + err);
                        return false;
                    }

                case "step3":
                    if (document.getElementById("paymentType").value != -1) {
                        document.getElementById("s3Valid").value = "true";
                        return true;
                    }
                    else {
                        alert("请选择付款方式！");
                        return false;
                    }
                case "step4":
                    return true;
            }
        }


        function step1() {
            if (document.getElementById("curStep").value != "step1") {
                if (validateCurStepInput()) {
                    document.getElementById("contactInfo").style.display = 'block';
                    document.getElementById("receiverInfo").style.display = 'none';
                    document.getElementById("paymentInfo").style.display = 'none';
                    document.getElementById("assureInfo").style.display = 'none';
                    document.getElementById("s1").style.background = '#BEBEBE';
                    document.getElementById("s2").style.background = 'white';
                    document.getElementById("s3").style.background = 'white';
                    document.getElementById("s4").style.background = 'white';
                    document.getElementById("curStep").value = "step1";
                }

            }
        }
        function step2() {
            if (document.getElementById("curStep").value != "step2") {
                if (validateCurStepInput()) {
                    document.getElementById("contactInfo").style.display = 'none';
                    document.getElementById("receiverInfo").style.display = 'block';
                    document.getElementById("paymentInfo").style.display = 'none';
                    document.getElementById("assureInfo").style.display = 'none';
                    document.getElementById("s1").style.background = 'white';
                    document.getElementById("s2").style.background = '#BEBEBE';
                    document.getElementById("s3").style.background = 'white';
                    document.getElementById("s4").style.background = 'white';
                    document.getElementById("curStep").value = "step2";
                }
            }
        }
        function step3() {
            if (document.getElementById("curStep").value != "step3") {
                if (validateCurStepInput()) {
                    document.getElementById("contactInfo").style.display = 'none';
                    document.getElementById("receiverInfo").style.display = 'none';
                    document.getElementById("paymentInfo").style.display = 'block';
                    document.getElementById("assureInfo").style.display = 'none';
                    document.getElementById("s1").style.background = 'white';
                    document.getElementById("s2").style.background = 'white';
                    document.getElementById("s3").style.background = '#BEBEBE';
                    document.getElementById("s4").style.background = 'white';
                    document.getElementById("curStep").value = "step3";
                }
            }
        }
        function step4() {
            if (document.getElementById("curStep").value != "step4") {
                if (validateCurStepInput()) {
                    document.getElementById("contactInfo").style.display = 'none';
                    document.getElementById("receiverInfo").style.display = 'none';
                    document.getElementById("paymentInfo").style.display = 'none';
                    document.getElementById("assureInfo").style.display = 'block';
                    document.getElementById("s1").style.background = 'white';
                    document.getElementById("s2").style.background = 'white';
                    document.getElementById("s3").style.background = 'white';
                    document.getElementById("s4").style.background = '#BEBEBE';
                    document.getElementById("curStep").value = "step4";
                }
            }
        }
        function doSubmit() {
            if (document.getElementById("s2Valid").value == "false") {
                alert("请输入订单信息！");
                step2();
            }
            else if (document.getElementById("s3Valid").value == "false") {
                alert("请选择支付方式！");
                step3();
            }
            else {
                document.getElementById("orderForm").submit();
            }
        }

        function paymentTypeSelected(obj) {
            document.getElementById("paymentType").value = obj.value;
            document.getElementById("paymentTypeName").innerText = obj.title;
        }
        function selePaymentType(objId, typeName) {
            document.getElementById('pt_' + objId).checked = 'checked';
            document.getElementById("paymentType").value = objId;
            document.getElementById("paymentTypeName").innerText = typeName;
        }
    </script>
}

<style type="text/css">
    .font {
        font-size: large;
    }

    .left {
        text-align: left;
        font-size: 11px;
    }

    .right {
        text-align: right;
        font-size: 16px;
    }

    input {
        margin: 0px;
        padding: 0px;
        display: inline;
    }
</style>

<div>

    <input id="curStep" type="hidden" value="step1" />
    <input id="s1Valid" name="s1Valid" type="hidden" value="false" />
    <input id="s2Valid" name="s2Valid" type="hidden" value="false" />
    <input id="s3Valid" name="s3Valid" type="hidden" value="false" />
    <form id="orderForm" action="~/Order" method="post">
        @*AntiForgery.GetHtml()*@
        <!--input id="orderQty" name="orderQty" type="hidden" value="@Model.orderQty" /-->
        @Html.HiddenFor(m => m.orderQty)
        <table>
            <tr style="width:100%">
                <td id="leftSide" style="width:18%;text-align:left;vertical-align:top;">
                    <ol style="margin-top:60px">
                        <li id="s1" style="background:#BEBEBE;"><a type="button" class="btn btn-primary btn-sm" href="javascript: step1();">确认联系信息</a></li>
                        <li id="s2" style="background:white;"><a type="button" class="btn btn-primary btn-sm" href="javascript: step2();">输入送货信息</a></li>
                        <li id="s3" style="background:white;"><a type="button" class="btn btn-primary btn-sm" href="javascript: step3();">选择付款方式</a></li>
                        <li id="s4" style="background:white;"><a type="button" class="btn btn-primary btn-sm" href="javascript: step4();">确认订单</a></li>
                    </ol>
                </td>
                <td id="contentPages" style="width:82%;text-align:center;">
                    <div id="contactInfo" style="display:block;">
                        <h3>确认您的联系信息</h3>
                        <table style="width:100%;font:14px;">
                            <tr>
                                <td class="right">@Html.LabelFor(m => m.curCustomer.MobilePhone)</td>
                                <td class="left">@Html.TextBoxFor(m => m.curCustomer.MobilePhone, new { id = "txtMPhone" })</td>
                            </tr>
                        </table>
                        @Html.HiddenFor(m => m.curCustomer.ObjId)
                        <input id="step1next" type="button" value="下一步" onclick="javascript: step2();" />
                    </div>
                    <div id="receiverInfo" style="display:none;">
                        <h3>输入订单信息</h3>
                        <table border="1" style="border-width:1px;border-collapse:collapse;width:100%;">
                            <tr>
                                <th>#</th>
                                <th>收件人信息</th>
                                <th>详细地址</th>
                                <th>商品信息</th>
                            </tr>
                            @foreach (var cartItem in Model.orders)
                            {
                                <tr>
                                    <td>订单<span>@orderNo</span></td>
                                    <td style="text-align:left;width:350px">
                                        姓名：<!--@*input id="name_@orderNo" name="name_@orderNo" type="text" class="left"value="@Request.Form["name_"+orderNo]" /*@-->
                                        <input id="name_@orderNo" name="name_@orderNo" type="text" class="left" />@Model.curCustomer.Conname<br />
                                        移动电话：<input id="mobile_@orderNo" name="mobile_@orderNo" type="text" class="left" /><br />
                                    </td>
                                    <td style="width:250px"><input id="adress_@orderNo" name="adress_@orderNo" style="width:230px;height:220px;"></td>
                                    <td style="text-align:left;width:300px;">
                                        商品名称：<span>@Model.orders[orderNo].productName</span><br />
                                        市场价格：<span>@Model.orders[orderNo].price</span><br />
                                        <input type="hidden" name="productId_@orderNo" value="@Model.orders[orderNo].theProduct" />
                                    </td>
                                </tr>
                                orderNo++;
                            }
                        </table>
                        <input id="step2last" type="button" value="上一步" onclick="javascript: step1();" />
                        <input id="step2next" type="button" value="下一步" onclick="javascript: step3();" />
                    </div>
                    <div id="paymentInfo" style="display:none;">
                        <h3>选择付款方式</h3>
                        <span> （付款金额：@Model.payment.Amount 元）</span><br /><br />
                        <input type="hidden" name="paymentAmt" value="@Model.payment.Amount" />
                        <input type="hidden" id="paymentType" name="paymentType" value="-1" />
                        @foreach (var p in ViewBag.payments)
                        {
                            <span><input type="radio" name="pType" id="pt_@p.ObjId" value="@p.ObjId" title="@p.TypeName" onclick="javascript:paymentTypeSelected(this);" /><a href="javascript:selePaymentType(@p.ObjId,'@p.TypeName');"></a></span><br />
                        }<br />
                        <input id="step3last" type="button" value="上一步" onclick="javascript: step2();" />
                        <input id="step3next" type="button" value="下一步" onclick="javascript: step4();" />
                    </div>

                    <div id="assureInfo" style="display:none;">
                        <h3>确认订单</h3>
                        <table border="1" style="width:100%;border: 1px solid black;text-align:left;border-width:1px;border-collapse:collapse;">
                            <tr>
                                <td>
                                    客户联系信息：<br />
                                    移动电话&nbsp;<span id="custMobile">@Model.curCustomer.MobilePhone</span>;&nbsp;&nbsp;&nbsp;&nbsp;用户名&nbsp;<sapn id="custname">@Model.curCustomer.UserName</sapn>;&nbsp;&nbsp;&nbsp;&nbsp;收件人姓名&nbsp;<sapn id="Conname">@Model.curCustomer.Conname</sapn>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    订单信息：<br />
                                    @{
                                        orderNo = 0;
                                        foreach (var order in Model.orders)
                                        {
                                            <span>订单</span><span>@orderNo</span><span>&nbsp;&nbsp;&nbsp;&nbsp;地址：</span><span id="custAddr_@orderNo"></span><br />
                                            <span>商品详情——商品名称：</span>@order.productName<span>&nbsp;&nbsp;&nbsp;&nbsp;</span><span>购买价格：</span>@order.price<span>元</span><br /><br />
                                            orderNo++;
                                        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    支付方式：<span id="paymentTypeName"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;总金额：@Model.payment.Amount 元。
                                </td>
                            </tr>
                        </table>
                        <input id="step4last" type="button" value="上一步" onclick="javascript: step3();" />
                        <input id="submitForm" type="button" value="确认付款" onclick="javascript: doSubmit();" />
                    </div>
                </td>
            </tr>
        </table>

    </form>
</div>