@{
    Layout = "_Layout";
    ViewBag.Title = "购物车";
    int cartRow = 0;
}
@using TechnologySquare.Models;
<script>
    function _doEdit(row) {
        document.getElementById('edit_' + row).style.display = 'none';
        document.getElementById('update_' + row).style.display = 'block';
        document.getElementById('qtyDsp_' + row).style.display = 'none';
        document.getElementById('qtyIn_' + row).style.display = 'block';
    }

    function _doCancel(row) {
        document.getElementById('edit_' + row).style.display = 'block';
        document.getElementById('update_' + row).style.display = 'none';
        document.getElementById('qtyDsp_' + row).style.display = 'block';
        document.getElementById('qtyIn_' + row).style.display = 'none';
    }

    function _doDelete(row, retUrl) {
        window.location.assign("/Cart/deleCartRow/" + row + "?retUrl=" + retUrl);
    }

    function _doUpdate(row, oldvalue, retUrl) {
        var newValue = document.getElementById('inQty_' + row).value;
        if (newValue != oldvalue) {
            window.location.assign("/Cart/updateCartRow/" + row + "?value=" + newValue + "&retUrl=" + retUrl);
        }
        else
            _doCancel(row);
    }


</script>
<html lang="en" ng-app="cart">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-controller="cartCtr">
    <div class="setCart" style="border-top-style: solid;border-top-width: 65px;">
        @if (ViewBag.cart != null && ((List<CartItem>)ViewBag.cart).Count >= 1)
        {    <table class="table table-hover" ng-show="items.length">
            <caption>购物车</caption>
            <tr>
                <th>序号</th>
                <th>商品信息</th>
                <th>单价（元）</th>
                <th>数量</th>
                <th>操作</th>
            </tr>
            @foreach (var cartItem in ViewBag.cart as List<CartItem>)
            {
                <tr>
                    <td>@cartItem.id</td>
                    <td>@cartItem.productName</td>
                    <td id="price_@cartRow" class="bold">@cartItem.price</td>
                    <td>
                        @*<button type="button" class="btn btn-default btn-xs" onclick="deduce()">－</button>*@
                        <div id="edit_@cartRow" style="display:block;">
                            <a type="button" href="javascript:_doEdit(@cartRow)" style="color:#330099;">编辑</a>
                        </div>
                        <div id="update_@cartRow" style="display:none">
                            <a href="javascript:_doUpdate(@cartRow,@cartItem.amount,'@ViewBag.continueBuy')" style="color:#330099;">更新</a>&nbsp;&nbsp;
                            <a href="javascript:_doCancel(@cartRow)" style="color:#330099;">取消</a>
                        </div>
                        <div id="qtyDsp_@cartRow" style="display:block;">@cartItem.amount</div>
                        <div id="qtyIn_@cartRow" style="display:none;"><input type="number" id="inQty_@cartRow" size="5" value="@cartItem.amount"></div>
                        @*<button type="button" class="btn btn-default btn-xs" onclick="add()">＋</button>*@
                    </td>
                    @*<td class="bold mark">{{item.price*item.quantity|number:2}}</td>*@
                    <td>
                        <a href="javascript:_doDelete(@cartRow)" type="button" class="btn btn-default btn-xs">删除</a>
                    </td>
                </tr>
                cartRow++;
            }
        </table>
        }
        @*<div class="empty" ng-show="!items.length">购物车空空，快去寻找宝贝</div>*@
        <div class="total">
            @*已选商品：<span>{{getQuantites()}} </span>
                合计：
                <span class="mark" ng-show="getTotalAmount()<15000">{{getTotalAmount()|number:2}}</span>
                <span class="mark" ng-show="getTotalAmount()>=15000">
                    {{getTotalAmount()*discount|number:2}}<span class="btn btn-xs">(9折)</span>
                    <span class="discount">({{getTotalAmount()|number:2}})</span>
                </span>*@
            <a type="button" class="btn btn-primary btn-sm" href="/Order">结 算</a>
            <button type="button" class="btn btn-primary btn-sm">退出购物车</button>
        </div>
    </div>
    <script src="~/js/angular.js"></script>
    <script src="~/js/app.js"></script>
</body>
</html>